/*style for button which add data in DB*/
.button_add {
    background: #5E5DF0;
    border-radius: 20px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    opacity: 1;
    outline:none;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: none;
    margin-left: 10px;
    float: left;
    margin-top:-80px;
}

button:focus{
    outline:none !important;
}

/*Div which display all data*/
.div_data {
    font-family: cursive, sans-serif;
    background-color: #3c497c;
    color: white;
    padding: 10px;
    width: 30%;
    border-radius: 4px;
    margin-left: 10px;
    float: left;
    margin-top: 15px;
}

/*div where display user data */
.display_div {
   
    margin-top:100px;
    background-color: #00313f;
    width: 121.4%;
    height: 73.8vh;

}

/*image style*/
.add_image {
    width: 45px;
    height: 45px;
}

.delete_image {
    width: 35px;
    height: 35px;
    cursor: pointer;
    float: right;
}

@media(max-width: 991px) {

    .display_div {
        width: 150%;
        height: 71.5vh;
    }

}

