/*div*/
.background_top_color {
    width: 121.4%;
    height: 150px;
    margin-top: -16px;

    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30);
}

.settings_user_photo {
    width:10%;
   height:100px;
   background-color:white;

   
   border-radius:10px;
    padding: 12px;
    
margin-left:25px;
margin-top:-60px;
}

.settings_div {
    width: 30%;
    height: 150px;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 8px;
    float: left;
}

/*img*/
.image_user{
    width:100%;
    height:80px;

}

.icon_mail{
width:25px;
height:25px;
}

.secret_question_icon{
width:25px;
height:25px;
position:absolute;
left:370px;
}

.email_edit_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 300px;
    top: 270px;
}

.secret_question_edit_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 650px;
    top: 270px;
}

.username_edit_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 250px;
    top: 180px;
}

/*p style*/
.font_style {
    position: absolute;
    left: 170px;
    top: 170px;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    color:white;
}



@media(max-width:991px) {

    .background_top_color {
        width: 150%;
        height: 170px;
        margin-top: -15px;
    }

    .settings_user_photo {
        width: 100px;
        height: 100px;
    }

    .settings_div {
        width: 40%;
        height: 160px;
    }

    .secret_question_icon {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 240px;
    }

    .email_edit_icon {
        left: 180px;
        top: 280px;
    }

    .secret_question_edit_icon {
        left: 390px;
        top: 280px;
    }

    
}