.home_div{
  position:relative;
  left:30%;
  width:50%;
}

.Info_web_app {
    
    display: flex;
   position:relative;
   right:0%;
   top:15vh;
}



.security_info {
   
    width: 200px;
    
   color:white;
  margin:25px;
}

.crossplatform_info {
   
    width: 200px;
   
    color: white;
    margin: 25px;
}
.opensource_info {
    
    width: 200px;
    color: white;
   
    margin: 25px;
}


.welcome_text {
  
    color: white;
 
    font-size: 20px;
}


.image_locker {
  
    width: 150px;
    height: 150px;
   
    float: left;
}



#login_button {
  margin:10px;
}

#signup_button {
 
}


@media(max-width:991px) {
    .home_div {
        position: relative;
        left: 10%;
       
    }

    .Info_web_app {
        display: flex;
        flex-direction:column;
        position: initial;
       
    }


}