.form_position
{
    margin-left:10%;
}
.home_image{
    position:absolute;
    left:50%;
    top:15%;
    width:550px;
    height:350px;
}

.redirect_secret {
 
   position:relative;
   margin-left:15px;
   
}
.redirect_create_user{
    position:relative;
    margin-left:10px;
}

@media(max-width:991px) {
    .redirect_secret {

    position: absolute;
    margin-left: -17%;
    margin-top:30px;

    }
    .home_image {
       
        display:none;
    }
}