.signin_content {
    margin-left: 10%;
}
.home_image{
    position:absolute;
    left:50%;
    top:15%;
    width:550px;
    height:350px;
}



@media(max-width:991px) {

    .signin_content {
        margin-left: 1%;
    }

    .home_image {
       
        display:none;
    }
}