.form_position
{
    margin-left:10%;
}
.home_image{
    position:relative;
    left:60%;
    top:-100px;
    width:550px;
    height:350px;
}


@media(max-width:792px)
{
    .home_image {
       
        left: 50%;
        top:-30px;
        width: 200px;
        height: 200px;
    }
}