.authorization_form{
    display:flex;
   
    background-color:white;
    border-radius:20px;
    width:70%;
    justify-content:center;
    margin-left:20%;
}

.inputBox {
    margin: 20px;
    position: relative;
}

    .inputBox input {
        background: transparent;
        width: 100%;
        border: none;
        outline: none;
    }

    .inputBox span {
        position: absolute;
        color: rgb(220,220,220);
        left: 0;
        transition: 0.5s;
    }

    .inputBox input:focus ~ span,
    .inputBox input:valid ~ span,
    .inputBox input:disabled ~ span {
        color: #2196f3;
        transform: translateY(-16px);
        font-size: 0.90rem;
    }

    .inputBox input:focus ~ i {
        background: linear-gradient(to right, #4776e6, #8e54e9);
    }

    .inputBox input:disabled ~ i {
        background: black;
    }

    .inputBox i {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: #708090;
    }

.question_image{
    margin:6px;
    width:400px;
    height:400px;
   
}

@media(max-width:990px)
{
    .authorization_form {
     flex-direction:column;
      
        width: 70%;
      
        margin-left: 20%;
    }

    .question_image {
        margin-left:50px;
        
        width: 50%;
        height: 250px;
    }
}

@media(max-width:600px) {
    .authorization_form {
        flex-direction: column;
      
        width: 70%;
       
        margin-left: 15%;
    }

    .question_image {
        margin:0px;
        width: 100%;
        height: 200px;
    }
}