.form{

    margin-left:5%;
}

#signin_button{

    margin-top:10px;
}

.form_answer{
    display:none;
    margin-top:15px;

}

.question_image{

    width:40%;
    height:40%;
    float:right;
    margin-top:-10%;
}