.form{

    margin-left:5%;
}

#signin_button{

    margin-top:10px;
}

.form_answer{
    display:none;
    margin-top:15px;

}

.question_image{

    width:400px;
    height:400px;
    float:right;
    margin-top:-10%;
}

@media(max-width:990px)
{
    .question_image {
        width: 0%;
        height: 0%;
    }
}