/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container{
    padding-left:0px;
    margin-right:0px;
    margin-left:0px;
}

:root {
    --bodyColor: "#000000";
}

body {
    background-color: var(--bodyColor);
}

