
.form_position {
    margin-left: 10%;
}
.book_image {
    position:relative;
    bottom:500px;
    left:50%;
   
}

.faq_image{
    position:relative;
    width:25px;
    height:25px;
    top:-40px;
    left:150px;
}

@media(max-width:900px) {

    .book_image {
       top:-70vh;
       width:70%;
       height:40vh;
    }

}